
#DB_navi24 *{margin:0;padding:0;list-style:none}
#DB_navi24 img{border:0}
#DB_navi24 a{text-decoration:none}

#DB_navi24 {position:relative;font:12px '����';width:100%;}
#DB_navi24 .DB_wrap{position:relative;width:1000px;margin:0 auto;/*��ǥ��=>left:50%;margin-left:-500px*/;height:50px}
#DB_navi24 .DB_wrap h1{margin:10px 185px 0 0;float:left;font-size:24px}
#DB_navi24 .DB_wrap .DB_main{float:left;margin-top:15px}
#DB_navi24 .DB_wrap .DB_main li{float:left;width:120px;}
#DB_navi24 .DB_wrap .DB_main li a{display:block;width:100%;height:100%;color:black;}
#DB_navi24 .DB_wrap .DB_main li.DB_select{}

#DB_navi24 .DB_mask{position:absolute;width:100%;min-width:1000px;height:200px/*����޴���ü����*/;overflow:hidden;display:none;}
#DB_navi24 .DB_mask .DB_move{position:relative;width:100%;background:url('img/bg.png')  repeat-x center bottom;height:160px;top:-162px/*���� �޴������*/;border-bottom:2px solid #59afe4;}
#DB_navi24 .DB_mask .DB_move .DB_subSet{position:relative;width:1000px;margin:0 auto;/*��ǥ��=>left:50%;margin-left:-500px*/;padding-top:20px;}
#DB_navi24 .DB_mask .DB_move .DB_subSet ul{float:left;width:120px;}
#DB_navi24 .DB_mask .DB_move .DB_subSet ul:first-child{margin-left:250px}/*��ǥ��=> ù��° li�� Ŭ������ ����*/
#DB_navi24 .DB_mask .DB_move .DB_subSet ul li{height:22px;border-left:1px solid #eeeeee;text-indent:5px;}
#DB_navi24 .DB_mask .DB_move .DB_subSet ul li a{display:block;width:90%;padding:2px;color:black;}
#DB_navi24 .DB_mask .DB_move .DB_subSet ul li a:hover{color:black;font-weight:bold;letter-spacing:-1px;}
#DB_navi24 .DB_mask .DB_move .DB_subSet ul li.DB_select a{color:#8B4513;font-weight:bold;letter-spacing:-1px; font-size:12px;}

#DB_navi24 .DB_mask .DB_move .DB_close{position:absolute;top:130px;right:10px;cursor:pointer;}
